<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="author" content="Codecool"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title> WebStore </title>


    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon"/>
    <!-- Bootstrap components -->
    <!-- Latest compiled and minified Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!--Latest compiled and minified Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>

    <script src="/static/js/initProducts.js" type="module"></script>

    <!-- Latest compiled and minified CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- End of Bootstrap components -->

    <link rel="stylesheet" type="text/css" href="/static/css/custom.css"/>
</head>

<body>
<div class="container-fluid">
    <nav class="navbar fixed-top navbar-dark" id="top-row">
        <button class="btn" id="nav-toggle">
            <img class="nav-icon img-fluid" src="/static/img/bars-solid-white.png" alt="filter-toggle">
        </button>

        <a href="/" class="navbar-brand text-center">A.C.E WEBSHOP</a>
        <a href="/cart" class="nav-item">
            <button class="btn" id="cart">
                <img class="nav-icon img-fluid" src="/static/img/cart.png" alt="shopping-cart">
            </button>
        </a>
    </nav>
    <div class="container container-on-top">
        <div id="products" class="row">
            <div class="col-6 col-sm-3 col-md-3 col-lg-3 col-xl-2" th:each="prod,iterStat : ${products}">
                <div class="card">
                    <a th:href="@{/product(id=${prod.id})}">
                        <div class="card-img-container card-img-top">
                            <img class="img-fluid" src="http://placehold.it/400x250/000/fff"
                                 th:attr="src='/static/img/product_' + ${prod.id} + '.jpg'" alt=""/>
                        </div>
                        <div class="card-header">
                            <p class="card-title" th:text="${prod.name}">Product name</p>
                        </div>
                    </a>
                    <div class="card-bottom">
                        <div class="" th:text="${prod.getPrice()}">100 USD</div>
                        <a class="add-to-cart" th:data-id="${prod.getId()}">
                            <button class="btn">
                                <img class="img-fluid" src="/static/img/into-cart.png" alt="add_to_cart">
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="sidebar">
    <a th:each="category : ${categories}" th:text="${category.getName()}"
       th:href="'/?category=' + ${category.getId()}" role="tab">Category</a>
</div>
</body>
</html>