<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="author" content="Codecool"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title> WebStore </title>


    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon"/>
    <!-- Bootstrap components -->
    <!-- Latest compiled and minified Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!--Latest compiled and minified Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>

    <script src="/static/js/initProducts.js" type="module"></script>

    <!-- Latest compiled and minified CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- End of Bootstrap components -->

    <link rel="stylesheet" type="text/css" href="/static/css/custom.css"/>
</head>

<body>

<nav class="navbar fixed-top" id="top-row">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <img id="nav-icon" src="/static/img/bars-solid.svg" alt="filter-toggle">
    </button>

    <div class=" text-center nav-item">
        <a href="/">
            <img id="logo" src="/static/img/nav_img.png" alt="navbar-img">
        </a>
    </div>
    <a href="/cart">
        <button id="cart-icon" class="btn btn-danger">
            <img src="/static/img/_cart.png" alt="shopping-cart">
        </button>
    </a>
</nav>

<div class="flex-column nav-pills collapse filter" id="navbarToggleExternalContent" role="tablist" aria-orientation="horizontal">
    <a th:each="category : ${categories}" th:text="${category.getName()}" th:class="${selectedCategoryId == category.getId() ? 'nav-link active' : 'nav-link'}" th:href="'/?category=' + ${category.getId()}" role="tab">Category</a>
</div>

<div class="container">
    <div id="products" class="row">
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3" th:each="prod,iterStat : ${products}">
            <div class="card">
                <div class="card-img-container card-img-top">
                    <img class="" src="http://placehold.it/400x250/000/fff"
                         th:attr="src='/static/img/product_' + ${prod.id} + '.jpg'" alt=""/>
                </div>
                <div class="card-header">
                    <h4 class="card-title" th:text="${prod.name}">Product name</h4>
                    <p class="card-text" th:text="${prod.description}">Product description... </p>
                </div>
                <div class="card-b">
                    <div class="card-text">
                        <div class="lead" th:text="${prod.getPrice()}">100 USD</div>
                    </div>
                    <div class="card-text">
                        <a class="btn btn-success add-to-cart" th:data-id="${prod.getId()}">Add to cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>