<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="author" content="Codecool"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title> WebStore </title>

    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon"/>

    <!-- Bootstrap components -->
    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!--Latest compiled and minified Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>

    <script src="/static/js/initCart.js" type="module"></script>

    <!-- Latest compiled and minified CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- End of Bootstrap components -->

    <link rel="stylesheet" type="text/css" href="/static/css/custom.css"/>
</head>

<body>

<nav class="navbar fixed-top navbar-dark" id="top-row">
    <a href="/" class="navbar-brand text-center">A.C.E WEBSHOP</a>
</nav>
<div class="container container-on-top text-center">
    <div class="table-responsive col-auto align-self-center">
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Product Name</th>
                <th scope="col">Price</th>
                <th scope="col" class="text-center">Amount in cart</th>
                <th scope="col">SumPrice</th>
            </tr>
            </thead>
            <tbody id="table-body-content">
            <tr th:each="prod, iterStat : ${cart}">
                <td class="text-center"><img class="img"
                                             th:src="'/static/img/product_' + ${prod.getKey().getId()} + '.jpg'" alt="">
                </td>
                <td class="align-middle" th:text="${prod.getKey().getName()}">Name</td>
                <td class="align-middle"
                    th:text="${prod.getKey().getDefaultPrice()+' '+prod.getKey().getDefaultCurrency()}">Price
                </td>
                <td class="align-middle text-center"><input class="cart-input" th:data-id="${prod.getKey().getId()}"
                                                            th:value="${prod.getValue()}"
                                                            type="number" required min="0" value="1"></td>
                <td class="align-middle"
                    th:text="${#numbers.formatDecimal(prod.getKey().getDefaultPrice()*prod.getValue(),1,2,'POINT')+' '+prod.getKey().getDefaultCurrency()}">
                    Price
                </td>
            </tr>
            <tr>
                <td colspan="5"></td>
            </tr>
            <tr>
                <td colspan="3"></td>
                <td class="align-middle">Summed Price:</td>
                <td class="align-middle" th:text="${#numbers.formatDecimal(summedPrice,1,2,'POINT') + ' EUR'}">0 EUR</td>
            </tr>
            </tbody>
            <tr class="bg-light">
                <td colspan="4"></td>
                <td class="align-middle">
                    <div>
                        <a href="/cart/checkout">
                            <button id="continue" class="btn btn-danger">
                                Continue
                            </button>
                        </a>
                    </div>
                </td>
            </tr>
        </table>

    </div>

</div>

</body>
</html>