.glyphicon {
    margin-right:5px;
}
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.thumbnail img
{
    margin-top: 10px;
}
.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}

.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}

.container {
    margin-top: 100px;
}

.card {
    margin-bottom: 15px;
    height: 725px;
}

.card-b {
    height: 30px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

div.lead {
    margin: 5px;
}

.card .card-header {
    height: 270px;
}

.card img {
    max-height: 408px;
}

td img {
    width: 100px;
}

#top-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#cart-icon {
    width: 65px;
    height: 45px;
}

#cart-icon img {
    color: white;
}

.collapse-filter {
    position: fixed;
    left: 0;
    top: 75px;
}

.footer-b {
    align-content: center;
    text-align: center;
    margin: auto;
    padding: auto;
    border-top: #000000 1px solid;
}

.navbar {
    background: #ffefef;
}