body{
    overflow-x: hidden;
}

.glyphicon {
    margin-right: 5px;
}

body {
    overflow-x: hidden;
}

.thumbnail {
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.thumbnail img {
    margin-top: 10px;
}

.item.list-group-item {
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}

.item.list-group-item:nth-of-type(odd):hover, .item.list-group-item:hover {
    background: #428bca;
}

.item.list-group-item .list-group-image {
    margin-right: 10px;
}

.item.list-group-item .thumbnail {
    margin-bottom: 0px;
}

.item.list-group-item:nth-of-type(odd) {
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after {
    display: table;
    content: " ";
}

.item.list-group-item img {
    float: left;
}

.item.list-group-item:after {
    clear: both;
}

.list-group-item-text {
    margin: 0 0 11px;
}

.container-on-top {
    margin-top: 100px;
}

.card {
    margin-bottom: 15px;
    font-size: 1rem;
}

.card-header-custom {
    height: 8rem;
}

.card-bottom-custom, .card-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem;
}

.card-bottom, .card-title-custom {
    font-size: 1.5rem;
}

.card-description {
    font-size: 1rem;
}

.add-to-cart button {
    width: 40px;
    height: 38px;
    padding: 0.6rem;
    line-height: 1;
    border: #9aa4ab 1px solid;
}

td img {
    width: 100px;
}

.nav-icon {
    width: 2.2rem;
    height: 2rem;
}

#user {
    width: 1.8rem;
    height: 2rem;
}

.navbar {
    justify-content: space-between;
    background: rgb(2, 0, 36);
    background: linear-gradient(170deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 0.9) 35%, rgba(0, 171, 206, 0.8) 100%)
}

a {
    text-decoration: none;
    color: #212529;
}

a:hover {
    text-decoration: none;
    color: #dc3545;
    transition: 0.3s;
}

#product-table {

    width: 75%;
    margin: 100px auto;
}

#product-img {
    height: 600px;
    width: auto;
}

#product-name {
    position: center;
    font-size: 3rem;
}

#product-desc {
    position: center;
    font-size: 1.3rem;
}

#order-product {
    width: 250px;
}

#product-price {
    font-size: 1.5rem;
    width: 250px;
}

.product-add-to-cart {
    transform: scale(1.5);
}

.footer-b {
    align-content: center;
    text-align: center;
    margin: auto;
    padding: auto;
    border-top: #000000 1px solid;
}

.container-fluid {
    transition: 0.5s;
    margin: 0;
}

#top-row {
    transition: 0.5s;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 500;
    padding-top: 80px;
    overflow: hidden;
    background-color: rgba(2, 0, 36, 1);
    transition: 0.5s;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 22px;
    color: #b2b2b2;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #ffffff;
}

.paypal-buttons {
    text-align: center;
}

.payment-heading{
    width: fit-content;
    margin: 0 auto 30px auto;
}

.order-container {
    transition: 0.7s;
    max-height: 1000px;
    overflow: hidden;
}

.address-container {
    transition: 0.7s;
    max-height: 0;
    overflow: hidden;
}
