.glyphicon {
    margin-right:5px;
}
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.thumbnail img
{
    margin-top: 10px;
}
.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}

.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}

.container {
    margin-top: 100px;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
    .card {
        height: 675px;
    }
    .card-img-container {
        height: 50%;
    }
}

@media (max-width: 1199px) {
    .card{
        height: 675px;
    }
    .card-img-container {
        height: 70%;
    }
}

@media (max-width: 800px) {
    .card{
        height: 675px;
        margin-right: 15px;
        margin-left: 15px;
    }
    .card-img-container {
        height: 70%;
    }
}

.card {
    margin-bottom: 15px;
}

div.lead {
    margin: 5px;
}

.card-img-container img {
    width: 100%;
    height: 100%;
}

.card .card-header {
    height: 45%;
}

.card-b {
    height: 10%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

td img {
    width: 100px;
}


#top-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 60;
}

#cart-icon {
    width: 65px;
    height: 45px;
}

#cart-icon img {
    width: 80%;
    height: 80%;
}

#nav-icon {
    width: 35px;
    height: 35px;
}

.navbar-toggler {
    padding: 0;
}

.filter {
    position: fixed;
    left: 0;
    top: 0;
    padding: 150px 25px;
    height: 100%;
    overflow-x: hidden;
    background-color: #ffefef;
    z-index: 50;
}

.footer-b {
    align-content: center;
    text-align: center;
    margin: auto;
    padding: auto;
    border-top: #000000 1px solid;
}

.navbar {
    background: #ffefef;
}

@media (max-width: 425px) {
    #logo {
        width: 180px;
        height: 38px;
    }

    #cart-icon{
        width: 55px;
        height: 40px;
    }

    #nav-icon{
        width: 30px;
        height: 30px;
    }
}
